
.pageSix { 
    background-color: #00DC7C;
    color: #4F24EE;
}
.logo-6 { 
    position: absolute;
    top: 505%;

}
.logo-6 path{
    fill: #4F24EE;
   }
.container-page-6 {
    font-size:70px;
    margin-left: 10%;
    margin-right: 25%;
    line-height: 110px;
}
.copy-page-6 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 530px;
    font-weight: bold;
    line-height: 40px;
}
.vector-page-6 { 
    position: absolute;
    padding-right: 40%;
    padding-top: 12%;
    opacity: 0;
}

@media screen and (max-width: 992px) {

    .container-page-6{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 30px;
        line-height: 45px;
        }
 
        .copy-page-6 { 
            position: relative;
            top: 10%;
            font-size: 20px;
            width: 300px;
            font-weight: bold;
            line-height: 20px;
        } 
        .vector-page-6 { 
            display: none;
        }
  }
  @media screen and (min-width: 2560px) { 
    .container-page-6{
        left: 10%;
        font-size: 90px;
        line-height: 120px;
        }
        .copy-page-6 { 
            font-size: 60px;
            width: 1050px;
            line-height: 60px;
        }
        .vector-page-6 { 
            width: 500px;
        }
        .logo-6{
            zoom: 2;
        }
  }