.pageTwo { 
    background-color: #2C2D38;
    scroll-snap-align: center;
}
.logo-2 { 
    position: absolute;
    top: 105%;
    color: #DFBBFE;
}
@media screen and (max-width: 992px) {
    img { 
        width: 70%;
    }
}
@media screen and (min-width: 2560px) { 
        .logo-2 { 
            zoom: 2;
        }
  }