

.pageThree{ 
    background-color: #FFCB16;
    color: #7D26C9;
}
.logo-3 { 
    position: absolute;
    top: 205%;
        
}
.logo-3 path{
    fill: #7D26C9;
   }

.container-page-3 {
    font-size:60px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 35%;
    line-height: 100px;
    
}
.copy-page-3 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 550px;
    font-weight: bold;
    line-height: 40px;
}
.vector-page-3{ 
    position: absolute;
    padding-top: 3%;
    left:44%;
    opacity: 0;
}

@media screen and (max-width: 992px) {

    .container-page-3{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 30px;
        line-height: 40px;
        }
        .vector-page-3 { 
          display: none;
        }  
        .copy-page-3 { 
            position: relative;
            top: 10%;
            font-size: 20px;
            width: 300px;
            font-weight: bold;
            line-height: 20px;
        }  
  }

  @media screen and (min-width: 2560px) { 
    .container-page-3{
        left: 10%;
        font-size: 90px;
        line-height: 120px;
        }
        .copy-page-3 { 
            font-size: 60px;
            width: 1100px;
            line-height: 60px;
        }
        .vector-page-3 { 
            width: 500px;
            left: 47%;
            padding-top: 2%;
        }
        .logo-3{
            zoom: 2;
        }
  }