nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 95%;
	position: sticky;
	z-index: 10;
	top: 50%;
	color: black;
	max-height: 0em;
}

nav span {
	font-size: 12px;
	border: 1px solid ;
    text-align: center;
    border-radius: 50%;
	transition: border 0.3s ease;
	transition-delay: 0.45s;
    width: 20px;
	padding: 1px;
    height: auto;
	margin-bottom: 10px;
   
}

nav span:hover {
	cursor: pointer;

}

nav span.activeClass {
background-color: aliceblue;
}

@media screen and (max-width: 992px) {
	nav { 

		margin-left: 90%;
		position: sticky;
		z-index: 10;
		color: black;
		
	}
}