


.pageSeven { 
    background-color: #002838;
    color: #00DC7C;
}
.logo-7 { 
    position: absolute;
    top: 605%;
  
}
.logo-7 path {
    fill :  #00DC7C;
}
.container-page-7 {
    font-size:70px;
    margin-left: 10%;
    margin-right: 45%;
    line-height: 90px;
}
.copy-page-7 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 500px;
    font-weight: bold;
    line-height: 40px;
}
@media screen and (max-width: 992px) {

    .container-page-7{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 30px;
        line-height: 40px;
        }
 
        .copy-page-7 { 
            position: relative;
            top: 10%;
            font-size: 20px;
            width: 300px;
            font-weight: bold;
            line-height: 25px;
        }  
  }

  @media screen and (min-width: 2560px) { 
    .container-page-7{
        left: 10%;
        font-size: 90px;
        line-height: 120px;
        }
        .copy-page-7 { 
            font-size: 60px;
            width: 1080px;
            line-height: 60px;
        }
        .logo-7{
            zoom: 2;
        }
  }