


.pageSeven { 
    background-color: #002838;
    color: #00DC7C;
}
.logo-7 { 
    position: absolute;
    top: 605%;
  
}
.logo-7 path {
    fill :  #00DC7C;
}
.container-page-7 {
    font-size:70px;
    margin-left: 10%;
    margin-right: 45%;
    line-height: 90px;
}
.copy-page-7 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
@media screen and (max-width: 992px) {

    .container-page-7{
        margin-left: 10%;
        margin-right: 30%;
        font-size: 20px;
        line-height: 40px;
        }
 
        .copy-page-7 { 
            position: relative;
            top: 10%;
            font-size: 15px;
            width: 200px;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
        }  
  }