.pageFour { 
    background-color: #4F24EE;
    color: #E1FF9A;
}
.logo-4 { 
    position: absolute;
    top: 305%;
    
}
.logo-4 path{
    fill:  #E1FF9A;;
   }
.container-page-4{
    font-size:70px;
    margin-left: 10%;
    margin-right: 22%;
    padding-top: 5%;
    line-height: 110px;
}
.copy-page-4 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 530px;
    font-weight: bold;
    line-height: 40px;
}
@media screen and (max-width: 992px) {

    .container-page-4{
        margin-left: 10%;
        margin-right: 30%;
        font-size: 20px;
        line-height: 40px;
        }
        .vector-2 { 
            display: none;
        }  
        .copy-page-4 { 
            position: relative;
            top: 10%;
            font-size: 15px;
            width: 200px;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
        }  
  }