.pageFour { 
    background-color: #4F24EE;
    color: #E1FF9A;
}
.logo-4 { 
    position: absolute;
    top: 305%;
    
}
.logo-4 path{
    fill:  #E1FF9A;;
   }
.container-page-4{
    font-size:70px;
    margin-left: 10%;
    margin-right: 22%;
    padding-top: 5%;
    line-height: 110px;
}
.copy-page-4 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 530px;
    font-weight: bold;
    line-height: 40px;
}
@media screen and (max-width: 992px) {

    .container-page-4{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 30px;
        line-height: 40px;
        }
        .copy-page-4 { 
            position: relative;
            top: 10%;
            font-size: 20px;
            width: 300px;
            font-weight: bold;
            line-height: 20px;
        }  
  }
  @media screen and (min-width: 2560px) { 
    .container-page-4{
        left: 10%;
        font-size: 90px;
        line-height: 120px;
        }
        .copy-page-4 { 
            font-size: 60px;
            width: 1100px;
            line-height: 60px;
        }

        .logo-4{
            zoom: 2;
        }
  }