

.pageThree{ 
    background-color: #FFCB16;
    color: #7D26C9;
}
.logo-3 { 
    position: absolute;
    top: 205%;
        
}
.logo-3 path{
    fill: #7D26C9;
   }

.container-3 {
    font-size:60px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 35%;
    line-height: 90px;
    
}
.copy-1 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
.vector-2 { 
    position: absolute;
    padding-top: 8%;
    left:52%;
    opacity: 0;
}
@media screen and (max-width: 992px) {

    .container-3{
        margin-left: 10%;
        margin-right: 30%;
        font-size: 20px;
        line-height: 40px;
        }
        .vector-2 { 
            position: absolute;
            bottom: 44%;
            left: 10%;
            width: 130px;
            height: 40px;
        }  
        .copy-1 { 
            position: relative;
            top: 10%;
            font-size: 15px;
            width: 200px;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
        }  
  }