
.pageSix { 
    background-color: #00DC7C;
    color: #4F24EE;
}
.logo-6 { 
    position: absolute;
    top: 505%;

}
.logo-6 path{
    fill: #4F24EE;
   }
.container-6{
    font-size:70px;
    margin-left: 10%;
    margin-right: 25%;
    line-height: 110px;
}
.copy-4 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
.vector-3 { 
    position: absolute;
    padding-right: 40%;
    padding-top: 12%;
    opacity: 0;
}

@media screen and (max-width: 992px) {

    .container-6{
        margin-left: 10%;
        margin-right: 30%;
        font-size: 20px;
        line-height: 40px;
        }
 
        .copy-4 { 
            position: relative;
            top: 10%;
            font-size: 15px;
            width: 200px;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
        } 
        .vector-3 { 
            display: none;
        }
  }