

.pageFive{ 
    background-color: #3C0C60;
    color: #FF245B;
}
.logo-5 { 
    position: absolute;
    top: 405%;
}
.logo-5 path{
    fill:   #FF245B;
   }
.container-5{
    font-size:70px;
    margin-left: 10%;
    margin-right: 35%;
    line-height: 110px;
}
.copy-3 { 
    position: relative;
    top: 10%;
    font-size: 30px;
    width: 550px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}

@media screen and (max-width: 992px) {

    .container-4{
        margin-left: 10%;
        margin-right: 30%;
        font-size: 20px;
        line-height: 40px;
        }
 
        .copy-3 { 
            position: relative;
            top: 10%;
            font-size: 15px;
            width: 200px;
            text-align: center;
            font-weight: bold;
            line-height: 20px;
        }  
  }


